In [ ]:
# 1. Date & Time

from datetime import date
today = date.today()
print("Today's Date = ", today)

Today's Date =  2022-05-31

In [1]:
# 2. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list 
#  and a tuple with those number

values = input("Input numbers with comma : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input numbers with comma : 1,2,3,4
List :  ['1', '2', '3', '4']
Tuple :  ('1', '2', '3', '4')

In [ ]:
#Write a Python program to display the first and last colors from the following list.color_list = ["Red","Green","White" ,"Black"]

color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [4]:
#Write a Python program to test whether a number is within 100 of 1000 or 2000

def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(500))
print(near_thousand(900))
print(near_thousand(700))   
print(near_thousand(1000))
print(near_thousand(2500))
print(near_thousand(1100))

False
True
False
True
False
True

In [7]:
#Write a Python program to print all even numbers

start = int(input("Enter starting range: "))
end = int(input("Enter ending range: "))
 
for num in range(start, end + 1):
     
    if num % 2 == 0:
        print(num, end = " ")

Enter starting range: 9
Enter ending range: 57
10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56

In [48]:
#Write a Python program to get the difference between the two lists

list1 = [1, 3, 4, 7]
list2 = [1, 4, 5, 6]

list_difference1 = []
for item in list1:
  if item not in list2:
    list_difference1.append(item)

list_difference2 = []
for item in list2:
  if item not in list1:
    list_difference2.append(item)

print(list_difference1 + list_difference2)

[3, 7, 5, 6]

In [26]:
# Write a Python program to find the list in a list of lists whose sum of elements is the highest.
#Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]

num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

[10, 11, 12]

In [38]:
#Write a Python program to round every number of a given list of numbers and print the total sum multiplied by the length of the list.
#Original list: [22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]

In [43]:
#9. Write a Python program to remove specific words from a given list. 

{"""No idea Please help!"""}

In [44]:
#10. Write a Python script to concatenate following dictionaries to create a new one. 

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [47]:
#Write a Python program to multiply all the items in a dictionary
d = {
    'a': 15,
    'b': 10,
    'c': 5,
}

answer = 1
for i in d:
    answer = answer*d[i]
print(answer)

750

In [52]:
#Write a Python program to get the 4th element and 4th element from last of a tuple.

tuple1 = ("i", "i", "t", "m", "d", 3, 5, "g", "u", "v", "i")
print(tuple1)

item = tuple1[3]
print(item)

item1 = tuple1[-4]
print(item1)

('i', 'i', 't', 'm', 'd', 3, 5, 'g', 'u', 'v', 'i')
m
g

In [54]:
#Write a Python program to convert a tuple to a dictionary

tup = ((1, 'x'), (2, 'y'), (3, 'z'))
print(tup)
print("Data Type = ", type(tup))

tupToDict = dict(tup)
print(tupToDict)
print("Data Type = ", type(tupToDict))

((1, 'x'), (2, 'y'), (3, 'z'))
Data Type =  <class 'tuple'>
{1: 'x', 2: 'y', 3: 'z'}
Data Type =  <class 'dict'>

In [55]:
#Write a Python program to remove all elements from a given set.

setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

Original set elements:
{'Green', 'White', 'Black', 'Red'}

After removing all elements of the said set.
set()

In [ ]:
#Write a Python program to check if a given set is superset of itself and superset of another given set.

{"""No idea, Please help"""}